.BookItem {
  width: 160px;
  text-align: center;
  padding: 10px;
  background-color: #ec9696;
  margin: 10px;
  height: 350px;
  overflow: scroll;
}

.BookItem .book-item-title {
  font-size: 1em;
  margin: 5px 0px;
  color: #fff;
  font-weight: bold;
}

.BookItem .book-item-author {
  font-size: 0.8em;
  margin: 5px 0px;
  color: #d6d6d6;
  font-weight: 300;
}

.BookItem .book-item-link {
  margin: 5px 0px;
  color: #abcdef;
}

.BookItem .book-item-link a {
  color: #66e8ff;
  font-size: 0.8em;
  transition: 0.3s ease-in-out;
}

.BookItem .book-item-link a:hover {
  color: #67d5e9;
  font-size: 0.8em;
  transition: 0.3s ease-in-out;
}

.BookItem .book-item-image {
  height: 200px;
  position: relative;
}

.BookItem .book-item-owner {
  font-size: 0.9em;
  margin: 2px 0px;
  color: #fff;
  font-weight: 300;
}

.book-item-owner-name {
  font-size: 0.9em;
  margin: 2px 0px;
  color: rgb(81, 111, 177);
  font-weight: bold;
}
