.BookItem {
  width: 200px;
  text-align: center;
  padding: 10px;
  background-image: linear-gradient(to right bottom, #e4acac, #ec9696);
  margin: 10px;
  height: 370px;
  overflow: scroll;
  border-radius: 3px;
  transition: all 0.3s;
}

.BookItem:hover {
  transform: translateY(-10px);
}

.BookItem .book-item-title {
  font-size: 1.2em;
  margin: 5px 0px;
  color: #fff;
  text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.BookItem .book-item-author {
  font-size: 0.8em;
  text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  margin: 5px 0px;
  color: #d6d6d6;
  font-weight: 300;
}

.BookItem .book-item-link {
  margin: 5px 0px;
  color: #abcdef;
  font-size: 1rem;
  font-weight: 300;
}

.BookItem .book-item-link a {
  color: #66e8ff;
  font-size: 0.8em;
  transition: 0.3s ease-in-out;
}

.BookItem .book-item-link a:hover {
  color: #67d5e9;
  font-size: 0.8em;
  transition: 0.3s ease-in-out;
}

.BookItem .book-item-image {
  max-height: 200px;
  width: 128px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  border-radius: 3px;
}

.BookItem .book-item-image img {
  border-radius: 3px;
}

.BookItem .book-item-owner {
  font-size: 0.9em;
  margin: 7px 0px;
  color: #fff;
  font-weight: 300;
  background-color: #6da4b9;
  padding: 2px 18px;
  border-radius: 100px;
  display: inline-block;
}

.BookItem .book-item-owner span {
  margin-left: 3px;
}

i.delete-btn {
  color: rgba(173, 73, 73, 0.74);
  cursor: pointer;
  transition: 0.3s ease-in-out;
  font-size: 1.3rem;
  margin: 2px;
  border: 1px solid transparent;
  border-radius: 50%;
  padding: 2px;
}

i.delete-btn:hover {
  color: rgb(236, 54, 54);
  transition: 0.3s ease-in-out;
  border: 1px solid white;
  border-radius: 50%;
  padding: 2px;
  background-color: rgba(214, 211, 211, 0.3);
}
