.Form {
  padding-top: 120px;
}

.Form .form-container {
  margin: 0 auto;
  max-width: 500px;
  padding: 15px;
  border: 2px double pink;
  box-shadow: 2px 2px 2px #bbbaba;
}

@media (max-width: 499px) {
  .Form .form-container {
    width: 90%;
  }
}
