* {
  font-family: 'Oxygen', sans-serif;
  box-sizing: border-box;
}

.Header {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.Header nav {
  background-color: rgba(238, 110, 114, 0.8);
  font-weight: 300;
}

.Header .nav-wrapper .header {
  font-family: 'Rye', cursive;
  margin-left: 15px;
}

.Header .dropdown-content {
  width: 140px;
  right: 0;
  top: 50px;
  transform-origin: 0px 0px 0px;
  opacity: 1;
  transform: scaleX(1) scaleY(1);
}

.Header .dropdown-content li a {
  font-weight: 300;
}

.Header .input-li {
  position: absolute;
  left: 40%;
}

.Header .book-search {
  height: 40px;
  padding: 10px;
  margin-top: 12px;
  border-radius: 10px;
  border: 1.5px solid white;
}

.Header .book-search input {
  width: 150px;
  border: 0;
  margin: 0;
  border-bottom: transparent;
}

.Header .book-search input:focus {
  border-bottom: none;
  box-shadow: none;
}

input:not([type]):focus:not([readonly]) {
  border-bottom: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.req-count {
  color: white;
  font-size: 0.8em;
  margin: 0 5px;
  background-color: #ec9696;
  padding: 3px 7px;
  border-radius: 50%;
}

.nav-burger-icon {
  width: 35px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
}

.nav-burger-icon-line {
  position: relative;
  display: inline-block;
  height: 2px;
  /* width: 60%; */
  width: 100%;
  background-color: white;
}

.nav-burger-icon-line::after,
.nav-burger-icon-line::before {
  content: '';
  position: absolute;
  left: 0;
  transition: all 0.2s;

  display: inline-block;
  height: 2px;
  width: 100%;
  background-color: white;
}

.nav-burger-icon-line::before {
  top: -0.8rem;
}

.nav-burger-icon-line::after {
  top: 0.8rem;
}

.nav-burger-icon:hover .nav-burger-icon-line {
  background-color: transparent;
}

.nav-burger-icon:hover .nav-burger-icon-line::before {
  top: 0;
  transform: rotate(135deg);
}

.nav-burger-icon:hover .nav-burger-icon-line::after {
  top: 0;
  transform: rotate(-135deg);
}

@media (max-width: 800px) {
  .Header .nav-wrapper .header {
    margin-left: 5px;
    font-size: 1.5em;
  }

  .Header .input-li {
    position: realtive;
    left: 30%;
  }
}

@media (max-width: 600px) {
  .Header .nav-wrapper .header {
    font-size: 1em;
  }

  .nav-burger-icon {
    display: flex;
  }
}
