* {
  font-family: 'Oxygen', sans-serif;
  box-sizing: border-box;
}

.Header {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.Header nav {
  background-color: rgba(238, 110, 114, 0.8);
  font-weight: 300;
}

.Header .nav-wrapper .header {
  font-family: 'Rye', cursive;
  margin-left: 15px;
}

.Header .dropdown-content {
  width: 140px;
  right: 0;
  top: 50px;
  transform-origin: 0px 0px 0px;
  opacity: 1;
  transform: scaleX(1) scaleY(1);
}

.Header .input-li {
  position: absolute;
  left: 40%;
}

.Header .book-search {
  height: 40px;
  padding: 10px;
  margin-top: 12px;
  border-radius: 10px;
  border: 1.5px solid white;
}

.Header .book-search input {
  width: 150px;
  border: 0;
  margin: 0;
  border-bottom: transparent;
}

.Header .book-search input:focus {
  border-bottom: none;
  box-shadow: none;
}

input:not([type]):focus:not([readonly]) {
  border-bottom: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.req-count {
  color: white;
  font-size: 0.8em;
  margin: 0 5px;
  background-color: #ec9696;
  padding: 3px 7px;
  border-radius: 50%;
}

@media (max-width: 800px) {
  .Header .nav-wrapper .header {
    margin-left: 5px;
    font-size: 1.5em;
  }

  .Header .input-li {
    position: realtive;
    left: 30%;
  }

  .Header .book-search input {
    width: 100px;
  }
}

@media (max-width: 600px) {
  .Header .nav-wrapper .header {
    font-size: 1em;
  }

  .Header .book-search {
    margin-top: 8px;
    border: 1.5px solid #a5a5a5;
  }

  .Header .book-search input {
    color: #a5a5a5;
  }

  .Header .book-search i {
    color: #a5a5a5;
  }

  .Header .input-li {
    position: realtive;
    left: 35%;
    top: 100%;
  }
}
